[submodule "opentk"]
	path = opentk
	url = git@github.com:Apelsin/opentk.git
[submodule "Farseer-Physics"]
	path = Farseer-Physics
	url = git@github.com:d-snp/Farseer-Physics.git
[submodule "psdplugin"]
	path = psdplugin
	url = https://git01.codeplex.com/forks/apelsin/psdplugin
